{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
<div class="media">
    <div class="media-body justify-content-center" style="margin-top:80px;">
      <h2 class="mt-0 mb-1">About</h2>
        <div style="text-indent:13%; font-size:20;">EAT A LOT, the Thai leader in super lifestyle platform That connects good things To Thai people by presenting complete content and information from real authors Including restaurants, food recipes, beauty And tourism
Through the EAT A LOT website to seamlessly connect everyday life with consumers.</div>
        <div style="text-indent:13%; font-size:20;">The website includes restaurants and Restaurant reviews Which focuses on reviews from the restaurant 
            that is known Website focused on restaurant reviews Food. We give honest opinion and have Clear ratings To be information for all delicious lovers</div>
    </div>
    <img src="static/image/pic5.jpg" class="ml-3 d-block w-50" alt="...">
</div>


<div class="card-deck" style="margin-top:20px;">
    <div class="card text-white bg-dark mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/image/pic4.jpg" class="card-img d-block w-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">Online Food Reviews Say As Much About the Author As the Restaurant</h4>
            <p class="card-text" style="text-indent:13%; font-size:17;"> Overall, the positive reviews, the researchers say, bring out a "more buoyant or fun-loving self in search of pleasure." When reviewers described an upscale establishment positively, they tended to draw parallels to a sexual experience, relying on words such as "orgasmic" and "sexy." They also tended to use bigger words and more complex sentences—"language of higher socioeconomic classes," Stanford explains. This conveys an air of sophistication, not just in reflection of the restaurant but also of the reviewer—the kind of person who fits in at such a respectable establishment.
                People giving positive reviews for lower-tier or less formal establishments approached those descriptions a bit differently. Many reviewers, especially women, adopted a drug-centric outlook, describing "addictive" food such as the "crack" chicken or pie, for example. The study found that the foods that most often inspired drug-related lingo included pizza, hamburgers and desserts—those that, like drugs, are not healthy for us.
                Rather than dwell on bad food, on the other hand, the negative reviews tended to get personal. They were most often inspired by unpleasant run-ins with the people working in the restaurants, including rude waiters, unhelpful staff or long wait times for service. The language the reviewers adopted for describing these encounters, Stanford reports, "resembled the language of people who have been traumatized by tragedies or the deaths of loved ones." In other words, the researchers explain, bad encounters with staff is taken very personally, internalized "straight to your sense of self.
                " To help cope with that traumatizing experience, the team continues, people turn to Yelp to vent.</p>
            <p class="card-text"><small class="text-muted">By Rachel Nuwer<br>
                SMITHSONIANMAG.COM<br>
                APRIL 15, 2014</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}